<h2>Customer Orders</h2>
<br />
Filter: <input type="text" ng-model="vm.orderFilter.product" />
<br /><br />
<table class="table table-striped">
    <tr>
        <th>Product</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="order in vm.orders | filter:vm.orderFilter | orderBy:'name'" class="repeat-animation">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
    <tr ng-class="vm.totalType">
        <td>&nbsp;</td>
        <td>{{ vm.ordersTotal | currency }}</td>
    </tr>
</table>